<div class="background-style full-height">
  <h1 class="title">Lista eksponatów</h1><hr/>
  <div class="fields parent">
  <div class="field">
    <label class="label align">Nazwa</label>
    <div class="control">
      <input class="input" type="text" placeholder="Nazwa">
    </div>
  </div>
  <div class="field">
    <label class="label align">Numer</label>
    <div class="control">
      <input class="input" type="text" placeholder="Numer">
    </div>
  </div>
  <button class="button is-primary"> <i class="fas fa-search"></i><span>Wyszukaj</span></button>
</div>
<div class="my-table">
  <table class='table is-bordered'>
    <thead>
      <tr>
        <th class="col-num">Numer</th>
        <th class="wider">Nazwa eksponatu</th>
        <th class="col-action">Akcja</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1 </td>
        <td>Obraz "Bitwa pod Grunwaldem" - Jan Matejko</td>
        <td>
          <span class="icon">
            <i class="far fa-edit"></i>
          </span>
          <span class="icon">
            <i class="far fa-trash-alt"></i>
          </span>
        </td>
      </tr>
      
      <tr>
        <td>2</td>
        <td>Obraz "Babie lato" – Józef Chełmoński</td>
        <td> <span class="icon">
            <i class="far fa-edit"></i>
          </span>
          <span class="icon">
            <i class="far fa-trash-alt"></i>
          </span>
        </td>
      </tr>
      
      <tr>
        <td>3</td>
        <td>Obraz "Bociany" – Józef Chełmoński</td>
        <td> <span class="icon">
            <i class="far fa-edit"></i>
          </span>
          <span class="icon">
            <i class="far fa-trash-alt"></i>
          </span>
        </td>
      </tr>
      
      <tr>
        <td>4</td>
        <td>Obraz "Dirce chrześcijańska" – Henryk Siemiradzki</td>
        <td> <span class="icon">
            <i class="far fa-edit"></i>
          </span>
          <span class="icon">
            <i class="far fa-trash-alt"></i>
          </span>
        </td>
      </tr>
      
      <tr>
        <td>5</td>
        <td>Obraz "Dziwny ogród" – Józef Mehoffer</td>
        <td> <span class="icon">
            <i class="far fa-edit"></i>
          </span>
          <span class="icon">
            <i class="far fa-trash-alt"></i>
          </span>
        </td>
      </tr>

      <tr>
        <td>6 </td>
        <td>Obraz "Stańczyk" - Jan Matejko</td>
        <td>
          <span class="icon">
            <i class="far fa-edit"></i>
          </span>
          <span class="icon">
            <i class="far fa-trash-alt"></i>
          </span>
        </td>
      </tr>
      
      <tr>
        <td>7</td>
        <td>Obraz "Błędne koło" - Jacek Malczewski</td>
        <td> <span class="icon">
            <i class="far fa-edit"></i>
          </span>
          <span class="icon">
            <i class="far fa-trash-alt"></i>
          </span>
        </td>
      </tr>
      
      <tr>
        <td>8</td>
        <td>Obraz "AD84" - Zdzisław Beksiński</td>
        <td> <span class="icon">
            <i class="far fa-edit"></i>
          </span>
          <span class="icon">
            <i class="far fa-trash-alt"></i>
          </span>
        </td>
      </tr>
      
      <tr>
        <td>9</td>
        <td>Obraz "Dziewczynka z chryzantemami" - Olga Boznańska</td>
        <td> <span class="icon">
            <i class="far fa-edit"></i>
          </span>
          <span class="icon">
            <i class="far fa-trash-alt"></i>
          </span>
        </td>
      </tr>
      
      <tr>
        <td>10</td>
        <td>Obraz "Dwie Głowy" - Witkacy</td>
        <td> <span class="icon">
            <i class="far fa-edit"></i>
          </span>
          <span class="icon">
            <i class="far fa-trash-alt"></i>
          </span>
        </td>
      </tr>

    </tbody>
  </table>
</div>
</div>