<div class="background-style full-height">
  <h1>Lista eksponatów</h1>
  <div class="fields parent">
  <div class="field">
    <label class="label">Nazwa</label>
    <div class="control">
      <input class="input" type="text" placeholder="Nazwa">
    </div>
  </div>
  <div class="field">
    <label class="label">Numer</label>
    <div class="control">
      <input class="input" type="text" placeholder="Numer">
    </div>
  </div>
  <button class="button is-primary"> <i class="fas fa-search"></i><span>Wyszukaj</span></button>
</div>
<div class="my-table">
  <table class='table is-bordered'>
    <thead>
      <tr>
        <th>No.</th>
        <th class="wider">Nazwa eksponatu</th>
        <th class="col-num">Numer</th>
        <th class="col-action">Akcja</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1. </td>
        <td>vilod565@gmail.com</td>
        <td>Male</td>
        <td>
          <span class="icon">
            <i class="far fa-edit"></i>
          </span>
          <span class="icon">
            <i class="far fa-trash-alt"></i>
          </span>
        </td>

      </tr>

      <tr>
        <td>2.</td>
        <td>deepak123@gmail.com</td>
        <td>Male</td>
        <td> <span class="icon">
          <i class="far fa-edit"></i>
        </span>
        <span class="icon">
          <i class="far fa-trash-alt"></i>
        </span></td>

      </tr>

      <tr>
        <td>3.</td>
        <td>sneha345@gmail.com</td>
        <td>Female</td>
        <td> <span class="icon">
          <i class="far fa-edit"></i>
        </span>
        <span class="icon">
          <i class="far fa-trash-alt"></i>
        </span></td>

      </tr>

      <tr>
        <td>4.</td>
        <td>saimi875@gmail.com</td>
        <td>Male</td>
        <td> <span class="icon">
          <i class="far fa-edit"></i>
        </span>
        <span class="icon">
          <i class="far fa-trash-alt"></i>
        </span></td>

      </tr>

      <tr>
        <td>5.</td>
        <td>santra765@gmail.com</td>
        <td>Female</td>
        <td> <span class="icon">
          <i class="far fa-edit"></i>
        </span>
        <span class="icon">
          <i class="far fa-trash-alt"></i>
        </span></td>

      </tr>



    </tbody>
  </table>
</div>
</div>