<div style="width:1000px; margin:0 auto; background-color: aquamarine;     height: 100%;">
    <h1>Lista eksponatów</h1>
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input class="input" type="text" placeholder="Text input">
        </div>
    </div>
    <button class="button is-primary">Primary</button>

    <table class='table is-bordered'>
        <thead>
          <tr>
            <th>No.</th>
            <th>Nazwa eksponatu</th>
            <th>Numer</th>
            <th>Akcja</th>
  
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1. </td>
            <td>vilod565@gmail.com</td>
            <td>Male</td>
            <td>
                <span class="icon">
                <i class="far fa-edit"></i>
              </span>
              <span class="icon">
                <i class="far fa-trash-alt"></i>
              </span>
            </td>
      
          </tr>

          <tr>
            <td>deepak123</td>
            <td>deepak123@gmail.com</td>
            <td>Male</td>
            <td>Hooghly, West Bengal</td>
    
          </tr>

          <tr>
            <td>sneha345</td>
            <td>sneha345@gmail.com</td>
            <td>Female</td>
            <td>Howrah, West Bengal</td>
      
          </tr>

          <tr>
            <td>saimi875</td>
            <td>saimi875@gmail.com</td>
            <td>Male</td>
            <td>Birbhum, West Bengal</td>
     
          </tr>

          <tr>
            <td>santra765</td>
            <td>santra765@gmail.com</td>
            <td>Female</td>
            <td>Maldah, West Bengal</td>
      
          </tr>

     
    
        </tbody>
      </table>
</div>