<div class="background-style">
  <h1>Dodawanie nowego eksponatu</h1>
  <div class="fields parent">
    <div class="field">
      <label class="label">Nazwa</label>
      <div class="control">
        <input class="input" type="text" placeholder="Nazwa">
      </div>
    </div>
    <div class="field">
      <label class="label">Numer</label>
      <div class="control">
        <input class="input" type="text" placeholder="Numer">
      </div>
    </div>

  </div>

  <div class="my-table">


    <quill-editor (onEditorCreated)="activateRTL($event)" [modules]="modules"></quill-editor>
  </div>

  <div class="fields parent1">
     <button class="button "> <span>Anuluj</span></button>
    
     <button class="button is-primary"> <span>Zapisz</span></button>

  </div>

</div>