<div class="background-style full-height">
    <h1 class="title">Logowanie</h1><hr/>
    <div class="fields parent">
    <div class="field">
      <label class="label align">Email</label>
      <div class="control">
        <input class="input" type="text" placeholder="Email">
      </div>
    </div>
    <div class="field">
      <label class="label align">Hasło</label>
      <div class="control">
        <input class="input" type="text" placeholder="Hasło">
      </div>
    </div>
   <button class="button is-primary" (click)="onLoginCLick()"> <i class="fas fa-search"></i><span>Zaloguj</span></button>
  </div> 
 
  </div>