<div class="background-style">
    <h1>Logowanie</h1>
    <div class="fields parent">
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" type="text" placeholder="Email">
      </div>
    </div>
    <div class="field">
      <label class="label">Hasło</label>
      <div class="control">
        <input class="input" type="text" placeholder="Hasło">
      </div>
    </div>
   <button class="button is-primary"> <i class="fas fa-search"></i><span>Zaloguj</span></button>
  </div> 
 
  </div>