<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" >
            <img src="/assets/logop1.png" height="150">
        </a>
    <!--   <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>--> 
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" (click)="onNewClick()">
                        <strong>Dodaj eksponat</strong>
                    </a>
                </div>
            </a>
            <a class="navbar-item" [routerLink]="['/filters']" routerLinkActive="active">
                Lista eksponatów
            </a>
            <a class="navbar-item" [routerLink]="['/exhibit1']" routerLinkActive="active">
                Użytkownik
            </a>
        </div>
    </div>
</nav>

<!-- [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}-->