.navbar{
    width: 1050px;
    margin: auto;
    border-bottom: 2px solid black;
}

.active{
    background-color: #dddddd;
}

.navbar-item img{
    max-height: 4rem;
}

.navbar-brand {
    
    height: 78px;
}